button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input,
textarea,
select,
button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse;
    src: url(font/Norse-Bold.otf);
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.logo-banner {
    font-family: norse;
}

body {
    display: flex;
    margin: 0px;
}

#left {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo-banner {
    flex-grow: 1;
    position: absolute;
    top: 30%;
    font-size: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, 0.5);
    overflow: hidden;
}

.logo-banner>* {
    margin: 10px;
}

.logo-banner>div {
    color: #fcfdfb;
}

.logo-banner>img {
    height: 140px;
    width: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fcfdfb;
    text-align: center;
    font-size: 0.5rem;
    opacity: 0.7;
    padding: 1rem;
    box-sizing: border-box;
}

#right {
    display: flex;
    flex-direction: column;
}

#right>* {
    flex: 1 1 33%;
    padding-left: 35px;
}

.description,
.bottom {
    background-color: #f9fafb;
}

.description {
    flex: 1 1 40%;
    display: flex;
    align-items: center;
}

p {
    width: clamp(45ch, 50%, 75ch);
    font-weight: 600;
}

.form {
    background-color: #fffefe;
    box-shadow: 0px 5px 9px 0px #779AA5;
}

form {
    padding: 0 0 15px;
    display: flex;
    flex-wrap: wrap;
}

form>div {
    flex-shrink: 0;
    margin: 1rem 3.5rem 1rem 0;
}

label {
    display: block;
    font-weight: 500;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgba(77, 79, 81, 255);
}

input {
    width: 350px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-size: 0.7em;
    outline: none;
    border: solid 2px rgba(215, 199, 196, 255);
}

input:focus {
    border: solid 2px blue;
    box-shadow: 3px 3px 10px -2px #9FABCC;
}

input+div {
    position: absolute;
    font-size: 0.7em;
    color: red;
}

.bottom {
    padding-top: 40px;
}

button {
    background-color: #586d49;
    color: #f8fafa;
    width: 300px;
    border-radius: 9px;
    padding: 15px;
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: 3px 3px 17px -1px #B2A7A8;
    margin-bottom: 40px;
}

.bottom>p {
    font-weight: 500;
}

a {
    font-weight: 600;
    color: #586d49;
}